@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;600;700&family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,100&display=swap");

:root {
  --primary-color: #af102c;
  --black: #1f2022;
  --white: #eeecef;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Palanquin", serif;
  background-color: var(--white);
}

* {
  margin: 0;
  padding: 0;
}
/* navbar */
.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(
      6rem,
      1fr
    );
  grid-template-rows: repeat(3, min-content) 70vh repeat(5, min-content);
  gap: 1.6rem;
  margin-top: 1.6rem;
}

.social-icons {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  align-items: center;
}

.social-icon {
  font-size: 1.8rem;
  color: var(--black);
  transition: all 0.3s ease-in;
}

.social-icon:hover {
  color: var(--primary-color);
  transform: scale(1.3) rotate(9deg);
}

.first-nav {
  grid-column: 6 / 10;
  grid-row: 1 / 2;
}

.first-nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style: none;
}

.first-nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--black);
  display: inline-block;
  width: 100%;
  text-align: center;
}

.first-nav-link::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: var(--black);
  display: block;
  transition: all 0.2s ease-in;
  margin: 0.5rem auto 0;
}

.first-nav-link:hover::after {
  width: 60%;
}

.first-nav-link span {
  font-size: 1.3rem;
  color: var(--black);
}

.first-nav-link i {
  font-size: 1.3rem;
  margin-right: 0.3rem;
}

.search {
  grid-column: 8 / 10;
  grid-row: 2 / 3;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(10, 10%);
}

.search-input {
  background-color: transparent;
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  padding: 0.3rem 0.4rem;
  font-size: 1.3rem;
  border: none;
  border-bottom: 0.1rem solid var(--black);
  outline: none;
}

.search-btn {
  grid-column: 10 / -1;
  grid-row: 1 / 2;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.second-nav {
  grid-column: 2 / 10;
  grid-row: 3 / 4;
  border-top: 0.1rem solid var(--primary-color);
  border-bottom: 0.1rem solid var(--primary-color);
}

.second-nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style: none;
}

.second-nav-link {
  text-align: center;
  display: grid;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--black);
  padding: 0.8rem 0;
  transition: all 0.2s 0.2s;
}

.second-nav-item:hover .second-nav-link {
  background-color: var(--primary-color);
  color: var(--white);
}

.second-nav-link::before,
.second-nav-link::after {
  content: "";
  width: 0;
  height: 0.1rem;
  background-color: var(--white);
  display: block;
  transition: width 0.2s cubic-bezier(0.55, 0, 0.98, 0.54),
    background-color 0.2s 0.2s;
}

.second-nav-link::after {
  justify-self: end;
}

.second-nav-item:hover .second-nav-link::before,
.second-nav-item:hover .second-nav-link::after {
  width: 100%;
  background-color: var(--white);
}

.second-nav-item:first-child {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  width: 70rem;
  background-color: var(--white);
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(7, 10rem);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in;
  z-index: 100;
}

.second-nav-item:first-child:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

.dropdown-first-list {
  grid-column: 1 / 3;
}

.dropdown-second-list {
  grid-column: 3 / 5;
}

.dropdown-img {
  grid-column: 5 / -1;
  width: 100%;
}

.dropdown-list-item {
  list-style: none;
}

.dropdown-list-link {
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-color);
  margin: 0 0 1rem 1.6rem;
  display: block;
  padding: 0.4rem;
  transition: all 0.2s ease-in;
}

.dropdown-list-link:hover {
  color: var(--white);
  background-color: var(--black);
}

/* end of navbar */

/* banner */

.slider {
  grid-column: 2 / 10;
  grid-row: 4 / 5;
  position: relative;
}

.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  z-index: 50;
}

.slider-heading {
  font-size: 10rem;
  color: var(--black);
  margin-bottom: 6rem;
}

.slider-btn {
  width: 16rem;
  height: 5rem;
  background: linear-gradient(to top, #00154c, #12376e, #23487f);
  color: #fff;
  border: 0.1rem solid var(--white);
  border-radius: 0.3rem;
  outline: none;
  position: relative;
  overflow: hidden;
}

.slider-btn-text-one {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  transition: top 0.2s ease-in;
}
.slider-btn-text-two {
  position: absolute;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  transition: top 0.2s ease-in;
}

.slider-btn:hover .slider-btn-text-one {
  top: -100%;
}
.slider-btn:hover .slider-btn-text-two {
  top: 50%;
}

.slideshow {
  height: 100%;
  overflow: hidden;
}
.slideshow-wrapper {
  position: relative;
  display: flex;
  width: 400%;
  height: 100%;
  animation: slideshow 20s infinite;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slideshow {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  15% {
    left: -100%;
  }
  25% {
    left: -100%;
  }
  30% {
    left: -200%;
  }
  40% {
    left: -200%;
  }
  45% {
    left: -300%;
  }
  55% {
    left: -300%;
  }
  60% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  90% {
    left: 0;
  }
}
.slide-btn {
  width: 1.3rem;
  height: 1.3rem;
  background-color: #bbb;
  border: 0.2rem solid var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 95%;
  transform: translateX(-50%);
  z-index: 10;
}

.slide-btn:focus {
  background-color: var(--primary-color);
}

.slide-btn-1 {
  left: 47%;
}
.slide-btn-2 {
  left: 49%;
}
.slide-btn-3 {
  left: 51%;
}
.slide-btn-4 {
  left: 53%;
}

.slide-btn-1:focus ~ .slideshow-wrapper {
  animation: none;
  left: 0;
}
.slide-btn-2:focus ~ .slideshow-wrapper {
  animation: none;
  left: -100%;
}
.slide-btn-3:focus ~ .slideshow-wrapper {
  animation: none;
  left: -200%;
}
.slide-btn-4:focus ~ .slideshow-wrapper {
  animation: none;
  left: -300%;
}
/* end of banner */

/* daily offer */
.daily-offer {
  grid-column: 2/10;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, min-content);
  gap: 1.6rem 3.2rem;
  justify-items: center;
}

.daily-offer-img-one {
  grid-column: 1/3;
  grid-row: 1/-1;
  width: 100%;
}

.daily-offer-heading {
  grid-column: 3/-1;
  grid-row: 1/2;
  font-size: 6rem;
  color: var(--black);
}

.daily-offer-paragraph {
  grid-column: 3/-1;
  grid-row: 2/3;
  font-size: 3rem;
  color: var(--black);
}

.daily-offer-btn {
  grid-column: 3/-1;
  grid-row: 3/4;
  width: 16rem;
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--white);
  background: linear-gradient(to top, var(--primary-color), var(--black));
  border: none;
  border-radius: 5rem;
  text-transform: uppercase;
  outline: none;
  box-shadow: 0.2rem 0.2rem 1rem #777;
}

.daily-offer-btn:hover {
  box-shadow: 0.2rem 0.2rem 2rem #777;
}

.daily-offer-img-two {
  grid-column: 3/-1;
  grid-row: 4/-1;
  width: 100%;
  align-self: end;
}
/* end of daily offer */

/* best-sellers */
.best-sellers {
  grid-column: 2 / 10;
  grid-row: 6 / 7;
}

.best-sellers-header {
  font-size: 4.5rem;
  color: var(--black);
  text-align: center;
  margin: 3rem 0;
}

.best-sellers-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 6.4rem;
}

.best-sellers-card {
  background-color: #efefef;
  box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.3);
}
.best-sellers-img {
  width: 100%;
  border-radius: 0.3rem 0.3rem 0 0;
}

.best-sellers-heading {
  background-color: #fffddd;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 2.4rem;
  color: var(--black);
  padding: 0.5rem 0;
  border-radius: 0.2rem;
  transform: translateY(-50%);
}

.best-sellers-paragraph {
  font-size: 1.9rem;
  color: var(--black);
  text-align: center;
  margin-bottom: 1.6rem;
}

.best-sellers-btn {
  width: 100%;
  padding: 1.6rem 0;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1.9rem;
  border: 2px solid transparent;
  border-radius: 0 0 0.3rem 0.3rem;
  transition: all 0.2s ease-in;
}

.best-sellers-btn:hover {
  background-color: var(--white);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

/* end of best-sellers */
/* gallery */
.gallery {
  grid-column: 1 / -1;
  grid-row: 7 / 8;
  display: grid;
  grid-template-columns: repeat(8, minmax(1rem, 1fr));
  grid-template-rows: repeat(4, 10vw);
  gap: 1.6rem;
  margin-top: 6.4rem;
  background-color: var(--primary-color);
  padding: 1.6rem 0;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  transition: opacity 0.3s ease-in;
}

.gallery-img:hover {
  opacity: 1;
}

.gallery-img-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.gallery-img-2 {
  grid-column: 3 / 6;
  grid-row: 1 / 3;
}
.gallery-img-3 {
  grid-column: 6/7;
  grid-row: 1 / 2;
}
.gallery-img-4 {
  grid-column: 7/9;
  grid-row: 1 / 3;
}
.gallery-img-5 {
  grid-column: 1/3;
  grid-row: 2 / 4;
}
.gallery-img-6 {
  grid-column: 3/5;
  grid-row: 3 / 4;
}
.gallery-img-7 {
  grid-column: 6/7;
  grid-row: 2 / 4;
}
.gallery-img-8 {
  grid-column: 5/6;
  grid-row: 3/5;
}
.gallery-img-9 {
  grid-column: 1/3;
  grid-row: 4/5;
}
.gallery-img-10 {
  grid-column: 3/5;
  grid-row: 4/5;
}
.gallery-img-11 {
  grid-column: 6/7;
  grid-row: 4/5;
}
.gallery-img-12 {
  grid-column: 7/9;
  grid-row: 3/5;
}
/* end of gallery */

/* contact */
.contact {
  grid-column: 1/-1;
  grid-row: 8/9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 3rem;
  background-color: var(--black);
  padding: 2rem 0;
}

.contact-heading {
  justify-self: end;
  font-size: 2rem;
  color: var(--white);
}

.contact-form {
  display: flex;
}

.contact-form input {
  outline: none;
  padding: 0.4rem 1rem;
  border: 0.1rem solid var(--white);
}

.contact-input {
  border-radius: 5rem 0 0 5rem;
  border-right: none;
}

.contact-btn {
  background-color: var(--black);
  color: var(--white);
  border-radius: 0 5rem 5rem 0;
  border-left: none;
  transition: background-color 0.2s ease-in;
}

.contact-btn:hover {
  background-color: var(--primary-color);
}
/* end of contact */

/* footer */
.footer {
  grid-column: 2/10;
  grid-row: 9/10;
  text-align: center;
  font-size: 1.6rem;
  padding: 2rem 0 3rem 0;
  color: var(--black);
}
/* end of footer */
